<div class="container" style="padding:0;">
  <div class="col-xs-12 text-left" style="padding:0;">
    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placeimg.com/1920/490/nature/5/" alt="Chania">
          <div class="carousel-caption" style="text-align: left; left: 3%;">
            <h1 class="slider-texto1" style="padding-left:0; text-transform:uppercase;">productos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-bottom"></div>

</div>