
<div class="container" style="padding:0;">
  <div class="col-xs-12 text-left" style="padding:0;">
    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="hidden-xs hidden-ms" style="position:absolute; z-index:2; top:0; left:0;" src="../images/hexagon-left.png" />
          <img src="{{API_PATH_MEDIA}}{{pronutiva.image}}" alt="Chania">
          <img class="hidden-xs hidden-ms" style="position:absolute; z-index:2; top:0; right:0;" src="../images/hexagon-right.png" />
          <div class="carousel-caption" style="text-align: left; left: 3%;">
            <h1 class="slider-texto1" style="padding-left:0; text-transform:uppercase;">{{pronutiva.textomensaje}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-bottom"></div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <img class="img-responsive" style="float: left; padding-right: 20px; padding-bottom:15px;" width="350" height="150" src="{{API_PATH_MEDIA}}{{pronutiva.image_titulo}}" />
      <span style="text-align:justify" ng-bind-html="pronutiva.texto_contenido"></span> 
    </div>   
  </div>
  <div class="margin-bottom"></div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <br />
      <h1 class="titulo">Programas Pronutiva por Cultivo</h1>
      <div class="margin-bottom"></div>
      <div class="col-xs-12 col-lg-3 margin-bottom" ng-repeat="cultivo in cultivos">
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <a href="" ng-click="verInfo(cultivo.id, $event);">
                <img class="img-responsive img" src="{{API_PATH_MEDIA}}{{cultivo.image}}" alt="cultivo">
                <div class="carousel-caption">
                  <h3 style="text-transform:uppercase">{{cultivo.cultivo}}</h3>
                  <br />              
                  <br class="hidden-xs" />
                  <br class="hidden-xs" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>